body { 
    background: url(./background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.taskbar {
    position: fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    bottom: 0.15%;
    right: 0.07%
}

.clippy {
    position: fixed;
    bottom: 5%;
    right: 1%;
    max-width: 15%;
    height: auto;

}

.iconsFlexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: flex-start;
}

.dialup {
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 0.80%;
    right: 2.8%
}

.msn {
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 0.80%;
    right: 3.3%
}

a {
    opacity: 0;
    font-size: 25px;
}

.link {
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 0.80%;
    left: 7.5%
}

.startup {
    width: 90px;
    height: 30px;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

.bin {
    max-width: 4%;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    max-height: 5%;
}

.notepad {
    max-width: 1.7%;
    height: fit-content;
    width: fit-content;
    max-height: 5%;
    padding: 10px;
}

.search {
    max-width: 3%;
    height: fit-content;
    width: fit-content;
    max-height: 5%;
    padding: 10px;
}

.settings {
    max-width: 3%;
    height: fit-content;
    width: fit-content;
    max-height: 5%;
    padding: 10px;
}

.errorBox {
   resize: both;
   height: 350px;
   width:350px;
   position:fixed;
   top: 25%;
   left: 40%;
}
