body { 
    background: url(./background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.taskbar {
    position:fixed;
    bottom: 0.20%;
    right: 0.07%
}